.classroom {
    border: 1px solid #e8ece9;
    border-radius: 15px;
    padding: 17px;
    margin-bottom: 12px;
    transition: .2s;
}

.classroom:hover {
    border-color: #cbd9ce;
    transform: translateY(-1px);
}
